.sidebar {
  position: relative;
  flex: 0.26;
  display: flex;
  flex-direction: column;
  box-shadow: 6px -1px 7px -7px rgb(0 0 0 / 40%);
  /* background-color: rgba(255, 255, 255, 0.123);
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7); */
}

.toggle__btn {
  display: none;
}

.sidebar__Search {
  display: flex;
  align-items: center;

  background: #ffffff;
  padding: 26px 20px 16px;
}

.sidebar__Search > input {
  background: transparent;
  outline-width: 0;
  border: none;
  height: 100%;
  margin-left: 6px;
}

.sidebar__Search > input::placeholder {
  font-weight: 700;
  color: #7e7e7e;
}

.sidebar__ChatRooms {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  flex: 1;
}

/* SidebarChats Component */
.sidebar__Chats {
  position: relative;
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #e6e6e6;

  transition: 350ms all;
  cursor: pointer;
}

.sidebar__Chats:hover {
  background: rgb(219, 219, 219);
}

.sidebar__Chats_info {
  margin-left: 6px;
}

.sidebar__Chats_info > .timeStamp {
  margin-top: 3px;
}

.active__bar {
  position: absolute;
  background: #ff7e21;
  height: 46px;
  width: 5px;
  right: 0;
}

.sidebar__AddRoom {
  padding: 10px;
  margin-bottom: 20px;
  color: #3737ff;

  transition: 350ms all;
  cursor: pointer;
}

.sidebar__AddRoom:hover {
  color: #6363d8;
}

a {
  text-decoration: none !important;
  color: black;
}

@media (max-width: 540px) {
  .sidebar {
    position: absolute;
    background-color: white;
    height: 100%;
    z-index: 1;

    left: -140%;
    transition: 350ms all;
  }

  .sidebar.active__toggle {
    left: 0;
  }

  .toggle__btn {
    display: block;
    position: absolute;
    background-color: teal;
    height: 45px;
    width: 45px;
    border-radius: 99px;
    left: -10px;
    z-index: 2;
    cursor: pointer;
  }

  .toggle__btn > .MuiSvgIcon-root {
    color: white;
    font-size: 45px;
  }

  .sidebar__Search {
    display: none;
  }

  .sidebar__ChatRooms {
    padding-top: 40px;
  }
}
