.topbar {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar__box,
.topbar__box-left {
  display: flex;
  align-items: center;
}

.topbar__box > .MuiIconButton-root:nth-child(1) {
  margin-right: 16px;
}

.topbar__box-left > h4 {
  margin: 0 6px;
}

#simple-menu {
  margin-top: 40px;
}

@media (max-width: 540px) {
  .topbar {
    padding: 5px 6px;
  }
  .topbar__box button.MuiButtonBase-root.MuiIconButton-root.Notification {
    display: none;
  }
}
